/* Container */

.container {
  width:100%;
  height:100%;
  font-family: 'Raleway';
  position: absolute;
}

/* Post Style */

.postDiv {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.postTitle {
  font-size: 30px;
  text-align: left;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  margin-bottom: 2px;

}

.postAuthor {
  font-size: 15px;
  margin-top: 2px;
}

.postTimeStampAndCategory {
  text-align: center;
  font-size: 10px;
}

.postContent {
}

.postList {
  margin-left: 200px;
  background-color: white;
  position:absolute;
}

/* Menu */

.menuContainer {
  height: 100%;
  background-color: black;
  display: inline;
  position: fixed;
}

.menu {
  display: inline;
  width: 200px;
  height: 100%;
  float: left;
  text-decoration: none;
  padding-left: 10px;
  margin-top: 0px;
  padding-left:0px;
}

.menuItem {
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 15px;
  background-color: black;
  color: white;
}

.menuItem:hover {
  background-color: ghostwhite;
  color: black;
}


